/*body*/
body{
    background-color: #F6F9FE;
    font-family: 'Nunito Sans', sans-serif;
    padding: 50px 100px;
    min-width: 1100px;
    max-width: 1312px;
}

/*header*/
header{
    display: flex;
    justify-content: space-between;
}

/*header logo*/
body > header > a {
    padding: 0px;
}

/*header links*/
header a{
    padding: 20px;
    text-decoration: none;
    color: #545454;
    font-size: 20px;
}

/*id Waitlist*/
#currentWebsite{
    background-color: #372865;
    color: white;
    border-radius: 5px;
}

/*header links Hover*/
header > nav > a:hover{
    background-color: #372865;
    color: white;
    border-radius: 5px;
}

/*main*/
main{
    padding: 80px 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

/*section main - img*/
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*section first paragraph*/
section p:first-child {
    background-color: #372865;
    color: #CCC1E6;
    margin: 0;
    padding: 5px 20px;
    border-radius: 50px;
    max-width: 420px; /*COMO AJUSTAR AL TEXTO*/
}

/*span*/
p:nth-child(1)> a > span{
    color: #F6F9FE;
    text-decoration: none;
}

/*main title*/
h1{
    font-size: 50px;
    color: #353252;
    margin: 25px 0px 0px 0px;

}

/*section second paragraph*/
section > p:nth-child(3){
max-width: 680px;
}

input[type=email]{
    display: overflow;
    width: 400px;
    height: 67px;
    padding-left: 20px;
    margin-right: 20px;

    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    color: #545454;
}

/*submit button*/
input[type=submit]{
    background-color: #372865;
    color: white;
    border-radius: 5px;
    width: 148.95px;
    height: 67px;
    font-size: 20px;
}

/*footer paragraph*/
footer p{
    color:#545454;
    font-weight: 700;
    background-color: #F6F9FE;
}
footer  a{
    padding: 0px 10px;
}
